body{
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Roboto', sans-serif;
}

.tip{
	background-color: #def6ed;
	width: 100%;
  	border: none;
 	padding: 30px;
    margin: 20px;
}

.knoppen{
	margin-right: 5px;	
	width: 500px;
}

.afbeelding{
	max-width: 760px;
	margin-top: 10px;
}