body{
	margin-left: 20%;
	margin-right: 20%;
}

#tip{
	background-color: lightblue;
	width: 100%;
  	border: none;
 	padding: 30px;
    margin: 20px;
}

.knoppen{
	margin-right: 5px;	
	width: 500px;
}